.board {
  display: flex;
  padding: 30px;
}

.game {
  width: 510px;
  height: 510px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.game .tile {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
}